.container {
    height: 90vh;
    display: grid;
    place-content: center center;
}

#maintext {
    font-size: 12rem;
    font-family: monospace;
    text-align: center;
    position: relative;
    margin: 0;
    cursor: pointer;
}

#error {
    font-family: serif;
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 5px 45px;
    margin: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
    text-align: center;
}

#back{
    margin: 20px auto;
    width: 190px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media (max-width : 768px) {

    #maintext {
        font-size: 9rem;
    }


    #error {
        font-size: 1.7rem;
    }

    
#back{
    padding: 8px 12px;
    font-size: 16px;
}


}

@media (max-width : 500px) {
    
    #maintext {
        font-size: 7rem;
    }


    #error {
        font-size: 1.4rem;
    }
    
    
    #back{
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width : 370px) {
    
    #maintext {
        font-size: 5rem;
    }
    
    
    #error {
        font-size: 1rem;
    }
    
    
    #back{
        padding: 5px 12px;
        font-size: 12px;
    }
}